<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <nav>
        <a href="/">Account Manager</a>
        <a href="/api-keys">Api Keys</a>
        <a href="/logout">Logout</a>
    </nav>
    <br><br>

    {{{body}}}
</body>
</html>