<div class="container">
    <br><br>
    <h3>Userscript manager</h3>

    <p>
        The browser extension is a userscript. First you will need to install a userscript manager. <br/>
        For Firefox, install <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey</a>. <br/>
        For Chrome (and Chromium based browsers) install <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en">Tampermonkey</a>.
    </p>

    <h3>Browser extension</h3>
    <p>
        After you have installed a userscript manager, just click <a href="/qapass.user.js">here</a> to install the browser extension. The usermanager will open and ask you if you want to install this userscript. <br/>
        After the script has been installed, go to any Glooko web (i.e. <a href="https://qa-us.my.glooko.com/">https://qa-us.my.glooko.com/</a>) and the extension will ask you for API key and API secret. Enter them, click save and refresh the website. The extension should show all of the public passwords for that particular host.
    </p>
</div>